.custom-button {
  background-color: #181818;
  color: white;
  border: 1px solid #181818;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10px;
  width: 80%;
  transition: 0.2s ease;
}

.custom-button:hover {
  opacity: 0.8;
}

.custom-button.active {
  background: #cb0094;
  color: white;
  font-size: 20px;
  width: 200px;
}
